<% include partials/header %>

<div class="container">
<h2 class="text-center">Here are you donut results</h2>

<div class="row">

<% bs.forEach(function(b) { %>
<div class="col-md-12 col-sm-6">
    <div class="card">
      <div class="card-block">
        <img class="card-img-top" src="<%= b.image_url %>" alt="<%=b.name %>" height="150"/>
        <h4 class="card-title"><a href="<%= b.url %>"><%= b.name %></a></h4>
        <h6 class="card-subtitle mb-2 text-muted"><%= b.location.city + ", " + b.location.state %></h6>
        <a href="tel:<%= b.phone %>" class="card-link"><%= b.phone %></a>
      </div>
    </div>
</div> 

<% }); %>
</div>
</div>

<% include partials/footer %>